.jupiter-page{
    background-image: url(https://images.foxtv.com/static.fox13news.com/www.fox13news.com/content/uploads/2022/09/764/432/jupiter.jpg?ve=1&tl=1);
    color: white;
    height:900px ;
    }