img {
  margin: 2rem;
  width: 22.5rem;
  height: 25rem;
  opacity: .9;
  padding: 1rem;
}

.mercury-page {
  background: rgba(0, 0, 0, 0.65);
  color: white;
  width: fit-content;
  margin-top: 3rem;
}

.loading {
  color: aliceblue;
  font-size: larger;
}

.mercury-info {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}