.uranus-page{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c9/Uranus_as_seen_by_NASA%27s_Voyager_2_%28remastered%29_-_JPEG_converted.jpg);
    color: white;
    height:900px ;
    }