html {
  background-image: url(./images/stars.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  height: 100vh;
}

.app {
  text-align:center;
  margin:auto;
  padding:0;
}