html {
  background-color: black;
  background-image: url(./images/cosmos.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  align-content: center;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;

}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.popoutWindow {
  flex: 1;
  max-width: 33%;
  align-items: center;
  
}

.solarSystem-page{
  display: flex;
  align-items: center;
  flex: 2;
  max-width: 66%;
  height: 100vh;
}

.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  padding: 0.8rem;
  z-index: 999;
}

.clock {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
  padding: 10px;
 
}
