.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(52, 58, 64, 0.5);
}

.header-title {
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
}
