.nav-container {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #f2f2f2;
    color: #f2f2f2;
  }
  
  .nav-links {
    display: flex;
    margin-right: 10px;
  }
  
  .nav-links a {
    margin-right: 10px;
    text-decoration:none;
    color: #475ca2;
  }
  
  .popout-toggle {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
